<div class="container">
    <h1>Carrito</h1>
    <div class="container">
        {{#each response.cart.data}}
        <div class="card mb-3">
            <div class="card-body d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="card-title mb-0">Producto: {{this.product.title}}</h4>
                </div>
                <div>
                    <h6 class="card-subtitle mb-2 text-muted">Cantidad: {{this.quantity}}</h6>
                </div>
                <div class="card-subtitle mb-2 text-muted">
                    <h6>Precio Unitario: $ {{this.product.price}}</h6>
                </div>
                <button onclick="deleteProductFromCart('{{...response.userData}}', '{{this.product._id}}')" type="button" class="btn btn-danger">Eliminar</button>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="d-flex justify-content-between align-items-center mt-3">
        <button onclick="deleteAllProductsFromCart('{{response.userData}}')" type="button" class="btn btn-danger">Limpiar Carrito</button>
        <button onclick="purchase('{{response.userData}}')" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Comprar</button>

        <div>
            <button onclick="window.location.href = '/api/users/current'" type="button" class="btn btn-secondary">Perfil</button>
            <button onclick="window.location.href = '/api/products'" type="button" class="btn btn-secondary">Seguir Comprando</button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Ticket de compra</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p id="responseMessage"></p>
                    <div id="productosSinStock" style="display: none;">
                        <p>Productos sin stock:</p>
                        <ul id="productosSinStockList"></ul>
                    </div>
                    <div id="ticketData" style="display: none;">
                        <h2>Ticket de compra:</h2>
                        <p>Productos:</p>
                        <ul id="ticketProductsList"></ul>
                        <p>Total: $ <span id="ticketTotal"></span></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        onclick="closeModal()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href = '/api/products'">Ir a
                        Productos</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/JS/cart.js"></script>
